#!/bin/sh

set -eu

apps_dir="$HOME/.local/share/applications"
mkdir -p "$apps_dir"

{{- range $id, $webapp := .webapps }}
cat > "$apps_dir/webapp-{{ $id }}.desktop" <<EOF
[Desktop Entry]
Name={{ $webapp.name }}
Comment=Open {{ $webapp.name }} as Web application
Exec=brave-origin --app='{{ $webapp.url }}'
Icon={{ $webapp.icon }}
Terminal=false
Type=Application
Categories=Network;
EOF
{{- end }}

