[Desktop Entry]
Name=YouTube
Comment=Open YouTube as Web application
Exec=brave-origin --app='https://www.youtube.com/feed/subscriptions'
Icon=youtube
Terminal=false
Type=Application
Categories=Network;

