# load theme
source = ~/.config/hypr/theme.conf

################
### MONITORS ###
################

monitor = ,preferred,auto,{{ .hypr_monitor_scale }}


###################
### MY PROGRAMS ###
###################

$terminal = ghostty -e fish
$browser = zen-browser
$menu = tofi-drun | xargs hyprctl dispatch exec --


#################
### AUTOSTART ###
#################

exec-once = waybar & hyprpaper
exec-once = copyq --start-server
exec-once = $terminal -C motd


#############################
### ENVIRONMENT VARIABLES ###
#############################

env = XCURSOR_SIZE,{{ .hypr_cursor_size }}
env = HYPRCURSOR_SIZE,{{ .hypr_cursor_size }}


#####################
### LOOK AND FEEL ###
#####################

general {
    gaps_in = 8
    gaps_out = 20

    border_size = 2

    col.active_border = 0xee$iris 0xee$rose 0xee$foam 45deg
    col.inactive_border = 0xee$muted

    layout = master

    allow_tearing = true
}

decoration {
    rounding = 6
    rounding_power = 2

    active_opacity = 1.0
    inactive_opacity = 0.9
    fullscreen_opacity = 1.0

    shadow {
        enabled = true
        range = 4
        render_power = 3
        color = 0xd5$highlightLow
    }

    blur {
        enabled = false
    }
}

animations {
    enabled = true

    bezier = easeOutQuint,0.23,1,0.32,1
    bezier = easeInOutCubic,0.65,0.05,0.36,1
    bezier = linear,0,0,1,1
    bezier = almostLinear,0.5,0.5,0.75,1.0
    bezier = quick,0.15,0,0.1,1

    animation = global, 1, 10, default
    animation = border, 1, 5.39, easeOutQuint
    animation = windows, 1, 4.79, easeOutQuint
    animation = windowsIn, 1, 4.1, easeOutQuint, popin 87%
    animation = windowsOut, 1, 1.49, linear, popin 87%
    animation = fadeIn, 1, 1.73, almostLinear
    animation = fadeOut, 1, 1.46, almostLinear
    animation = fade, 1, 3.03, quick
    animation = layers, 1, 3.81, easeOutQuint
    animation = layersIn, 1, 4, easeOutQuint, fade
    animation = layersOut, 1, 1.5, linear, fade
    animation = fadeLayersIn, 1, 1.79, almostLinear
    animation = fadeLayersOut, 1, 1.39, almostLinear
    animation = workspaces, 1, 1.94, almostLinear, fade
    animation = workspacesIn, 1, 1.21, almostLinear, fade
    animation = workspacesOut, 1, 1.94, almostLinear, fade
}

master {
    new_status = master
}

debug {
    full_cm_proto = true
}

misc {
    disable_hyprland_logo = true
}

input {
    kb_layout = us
    kb_variant =
    kb_model =
    kb_options =
    kb_rules =

    follow_mouse = 0
    sensitivity = 0
}


###################
### KEYBINDINGS ###
###################

$mainMod = SUPER # Sets "Windows" key as main modifier

# Exit Hyprland desktop environment
bind = $mainMod SHIFT, Q, exit,

# Execute Alt-F4 (kill) on active window
bind = $mainMod, W, killactive,

# Open my programs
bind = $mainMod, RETURN, exec, $terminal
bind = $mainMod SHIFT, RETURN, exec, $browser
bind = $mainMod, SPACE, exec, $menu

# Move focus with main modifier key + vim motion keys
bind = $mainMod, H, movefocus, l
bind = $mainMod, L, movefocus, r
bind = $mainMod, K, movefocus, u
bind = $mainMod, J, movefocus, d

# Move focus with main modifier key + arrow keys
bind = $mainMod, LEFT, movefocus, l
bind = $mainMod, RIGHT, movefocus, r
bind = $mainMod, UP, movefocus, u
bind = $mainMod, DOWN, movefocus, d

# Switch workspaces with main modifier key + [1-4]
bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4

# Move active window to a workspace with main modifier key + SHIFT + [1-4]
bind = $mainMod SHIFT, 1, movetoworkspace, 1
bind = $mainMod SHIFT, 2, movetoworkspace, 2
bind = $mainMod SHIFT, 3, movetoworkspace, 3
bind = $mainMod SHIFT, 4, movetoworkspace, 4

# Master layout commands
bind = $mainMod, N, layoutmsg, cyclenext
bind = $mainMod, M, layoutmsg, swapwithmaster master

# Floating layout commands
bind = $mainMod, V, togglefloating,

# Fullscreen layout commands
bind = $mainMod, R, fullscreen

# Move/resize windows with main modifier key + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

# Screenshot commands
bind = , PRINT, exec, hyprshot -m output -o /tmp
bind = $mainMod, PRINT, exec, hyprshot -m region -o /tmp

# Multimedia keys
bindel = ,XF86AudioRaiseVolume, exec, wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+
bindel = ,XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-
bindel = ,XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindel = ,XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
bindel = ,XF86MonBrightnessUp, exec, brightnessctl s 10%+
bindel = ,XF86MonBrightnessDown, exec, brightnessctl s 10%-


##############################
### WINDOWS AND WORKSPACES ###
##############################

# Ignore maximize requests from apps. You'll probably like this.
windowrulev2 = suppressevent maximize, class:.*

# Fix some dragging issues with XWayland
windowrulev2 = nofocus,class:^$,title:^$,xwayland:1,floating:1,fullscreen:0,pinned:0

