[Desktop Entry]
Name={{ .name }}
Comment=Open {{ .name }} as Web application
Exec=brave-origin --app='{{ .url }}'
Icon={{ .icon }}
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
