sourceDir = "{{ .chezmoi.homeDir }}/.dotfiles"

[diff]
    command = "delta"
    pager = "delta"

[data]
    # Personal details
    {{- $firstname := promptStringOnce . "firstname" "First name" }}
    {{- $lastname := promptStringOnce . "lastname" "Last name" }}
    firstname = {{ $firstname | quote }}
    lastname = {{ $lastname | quote }}
    fullname = {{ cat $firstname $lastname | quote }}
    email = {{ promptStringOnce . "email" "Email address" | quote }}

    # Terminal settings
    {{- $defaultTerminalFontFamily := "0xProto Nerd Font Mono" }}
    {{- if eq .chezmoi.os "windows" }}{{ $defaultTerminalFontFamily = "CaskaydiaCove Nerd Font Mono" }}{{ end }}
    {{- $terminalFontFamilly := promptStringOnce . "terminal_font_familly" (printf "Font familly for Terminal (default: %s)" $defaultTerminalFontFamily) | default $defaultTerminalFontFamily }}
    terminal_font_familly = {{ $terminalFontFamilly | quote }}
    {{- $defaultTerminalFontSize := 12 }}
    {{- $terminalFontSize := promptIntOnce . "terminal_font_size" (printf "Font size for Terminal (default: %d)" $defaultTerminalFontSize) | default $defaultTerminalFontSize }}
    terminal_font_size = {{ $terminalFontSize }}

    {{- if eq .chezmoi.os "linux" }}
    # Hyprland settings
    hypr_monitor_scale = {{ promptIntOnce . "hypr_monitor_scale" "Hyprland monitor scale (leave empty for default)" | default 1 }}
    hypr_cursor_size = {{ promptIntOnce . "hypr_cursor_size" "Hyprland cursor size (leave empty for default)" | default 24 }}
    {{- end }}

    # Enable specific configuration
    kubernetes = {{ promptBoolOnce . "kubernetes" "Enable configuration for Kubernetes development/management tools" }}
