[user]
	name = {{ .fullname }}
	email = {{ .email }}

[core]
{{- if (eq .chezmoi.os "windows") }}
	editor = code --wait
{{- else }}
	editor = nvim
{{- end }}
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true
	line-numbers = true

[pull]
	rebase = true

[merge]
	conflictstyle = zdiff3

[color]
	ui = auto

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[init]
	defaultBranch = main
