shell-integration = fish
theme = noctalia
font-family = {{ .font_mono }}
font-size = {{ .terminal_font_size }}
window-padding-x = 8
window-padding-y = 6
gtk-titlebar = false
window-decoration = false
