{{- $theme := (include ".theme.toml" | fromToml) -}}
/* Documentation: https://github.com/Alexays/Waybar/wiki/Styling */

* {
  border: none;
  border-radius: 0;
  font-family: "{{ .font_regular }}";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-color: {{ $theme.colors.base }};
  color: {{ $theme.colors.text }};
  transition-property: background-color;
  transition-duration: .5s;
}

tooltip {
  background: {{ $theme.colors.overlay }};
}
tooltip label {
  color: @rose;
}

#workspaces {
  background: @base;
}
#workspaces button {
  padding: 4px 10px;
  background: transparent;
  color: {{ $theme.colors.text }};
  font-size: 60px;
  border-bottom: 3px solid {{ $theme.colors.surface }};
}
#workspaces button.empty {
  color: {{ $theme.colors.muted }};
}
#workspaces button.visible {
  color: {{ $theme.colors.text }};
}
#workspaces button.active {
  color: {{ $theme.colors.primary }};
  border-bottom: 3px solid {{ $theme.colors.overlay }};
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#clock {
  padding: 0 30px;
  color: {{ $theme.colors.primary }};
}

#tray {
  padding: 0 12px;
  background: {{ $theme.colors.overlay }};
}
#tray menu {
  color: {{ $theme.colors.text }};
  background: {{ $theme.colors.surface }};
}

#memory {
  padding: 0 14px 0 12px;
  color: {{ $theme.colors.secondary }};
  background: {{ $theme.colors.surface }};
}

#cpu {
  padding: 0 14px 0 12px;
  color: {{ $theme.colors.secondary }};
  background: {{ $theme.colors.surface }};
}

#network {
  padding: 0 12px;
  background: {{ $theme.colors.surface }};
}
#network.wifi {
  color: {{ $theme.colors.info }};
}
#network.ethernet {
  color: {{ $theme.colors.info }};
}
#network.disconnected {
  color: {{ $theme.colors.error }};
}

#battery {
  padding: 0 14px 0 12px;
}

#backlight {
  padding: 0 14px 0 12px;
}

#wireplumber {
  padding: 0 24px 0 16px;
  background: {{ $theme.colors.base }};
}
#wireplumber.muted {
  color: {{ $theme.colors.error }};
}

