/* Documentation: https://github.com/Alexays/Waybar/wiki/Styling */

@import "./theme.css";

* {
  border: none;
  border-radius: 0;
  font-family: "{{ .font_regular }}";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

tooltip {
  background: @overlay;
}
tooltip label {
  color: @rose;
}

#workspaces {
  background: @base;
}
#workspaces button {
  padding: 4px 10px;
  background: transparent;
  color: @text;
  font-size: 60px;
  border-bottom: 3px solid @subtle;
}
#workspaces button.empty {
  color: @muted;
}
#workspaces button.visible {
  color: @foam;
}
#workspaces button.active {
  color: @gold;
  border-bottom: 3px solid @gold;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

window#waybar #window {
  padding: 0 20px;
}
window#waybar.empty #window {
  color: transparent;
  background: transparent;
}

#clock {
  padding: 0 30px;
  color: @gold;
}

#tray {
  padding: 0 12px;
  background: @highlightMed;
}
#tray menu {
  color: @text;
  background: @overlay;
}
#tray menu hover {
  background: @surface;
}

#custom-yay {
  padding: 0 14px 0 12px;
  background: @surface;
}

#network {
  padding: 0 14px 0 12px;
  background: @surface;
}
#network.wifi {
  color: @pine;
}
#network.ethernet {
  color: @foam;
}
#network.disconnected {
  color: @love;
}

#cpu {
  padding: 0 14px 0 12px;
  background: @surface;
}

#memory {
  padding: 0 14px 0 12px;
  background: @surface;
}

#battery {
  padding: 0 14px 0 12px;
}

#backlight {
  padding: 0 14px 0 12px;
}

#wireplumber {
  padding: 0 14px 0 12px;
  background: @highlightMed;
}
#wireplumber.muted {
  color: @love;
}

