/* WORK IN PROGRESS */
/* Documentation: https://github.com/Alexays/Waybar/wiki/Styling */

@import "./theme.css";

* {
  border: none;
  border-radius: 0;
  font-family: "{{ .font_regular }}";
  font-size: 16px;
  background: transparent;
}

window#waybar {
  background: @surface;
  color: @text;
}

tooltip {
  background: @overlay;
}
tooltip label {
  color: @rose;
}

#workspaces button {
  padding: 0 10px;
  background: transparent;
  color: @muted;
  font-size: 30px;
  border-bottom: 2px solid @subtle;
}
#workspaces button.active {
  border-bottom: 2px solid @gold;
}

#window {
  padding: 0 10px;
  color: @text;
}

#clock {
  padding: 0 30px;
  color: @gold;
}

#network {
  padding: 0 20px;
  background: @base;
}
#network.wifi {
  color: @pine;
}
#network.ethernet {
  color: @foam;
}
#network.disconnected {
  color: @love;
}

#cpu {
  padding: 0 20px;
  background: @highlightLow;
}

#memory {
  padding: 0 20px;
  background: @highlightLow;
}

#battery {
  padding: 0 12px;
}

#backlight {
  padding: 0 15px;
}

#wireplumber {
  padding: 0 15px;
}
#wireplumber.muted {
  color: @love;
}

