{{- $theme := (include ".theme.toml" | fromToml) -}}
font={{ .font_regular }}" {{ .font_size }}
background-color={{ $theme.colors.base }}
text-color={{ $theme.colors.text }}
progress-color=over {{ $theme.colors.accent }}

[urgency=low]
border-color={{ $theme.colors.info }}

[urgency=normal]
border-color={{ $theme.colors.warning }}

[urgency=high]
border-color={{ $theme.colors.error }}

