[shell]
font_family = "{{ .font_regular }}"

    [shell.animation]
    enabled = false

[theme]
community_palette = "Everforest"
mode = "dark"
source = "community"

    [theme.templates]
    builtin_ids = [ "btop", "gtk3", "gtk4", "ghostty", "helix", "niri" ]
    community_ids = [ "pi-agent", "bat", "yazi" ]

[desktop_widgets]
enabled = false

[widget.media]
hide_when_no_media = true

[plugins]
enabled = [ "oldirtty/color_picker", "noctalia/world_clock" ]

[widget.world_clock]
type = "noctalia/world_clock:bar"

[widget.color_picker]
type = "oldirtty/color_picker:widget"

[bar.default]
margin_ends = 10
background_opacity = 0.85
start = [ "session", "control-center", "workspaces", "media" ]
center = [ "clock", "world_clock" ]
end = [ "group:apps", "cpu", "ram", "network", "bluetooth", "brightness", "volume", "battery", "notifications" ]

    [[bar.default.capsule_group]]
    id = "apps"
    members = [ "tray", "clipboard", "color_picker" ]

