[shell]
font_family = "{{ .font_regular }}"

    [shell.animation]
    enabled = false

[theme]
builtin = "Tokyo-Night"
community_palette = "Everforest"
mode = "dark"
source = "community"

    [theme.templates]
    builtin_ids = [ "btop", "gtk3", "gtk4", "ghostty", "helix", "niri" ]
    community_ids = [ "pi-agent", "bat", "yazi" ]

[desktop_widgets]
enabled = false

[widget.media]
hide_when_no_media = true

[bar.default]
margin_ends = 10
background_opacity = 0.85
start = [ "session", "control-center", "workspaces", "media" ]
center = [ "clock" ]
end = [ "tray", "group:sysmon", "network", "bluetooth", "brightness", "volume", "battery", "notifications" ]

    [[bar.default.capsule_group]]
    id = "sysmon"
    members = [ "cpu", "ram" ]
